body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/ee/b0/dd/eeb0dd0b691ae51c74451e957b58dee1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 50px;
    line-height: 1.1;
    color: white;
}

h2 {
    color: rgba(255, 255, 255, 0.763);
}

button {
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.422); 
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}